/* Map Tiles */
.TileDisplay {
    display: grid;
    width: 40vw;
    height: 50vh;
    margin: 20px;
    overflow: scroll;
}

.mapTile {
    border: 1px solid black;
    border-radius: 0px;
    margin: 0px;
    font-size: xx-small;
    overflow: hidden;
}

.mapTile.FLOOR{
    background-color: pink;
}

.mapTile.WALL{
    background-color: gray;
}

.mapTile.COUNTER{
    background-color: yellow;
}

.mapTile.COOKER {
    background-color: orange;
}

.mapTile.SINK {
    background-color: lightskyblue;
}

.mapTile.SINKTABLE {
    background-color: white;
}

.mapTile.TRASH {
    background-color: mediumorchid;
}

.mapTile.SUBMIT {
    background-color: lightgreen;
}

.mapTile.SHOP {
    background-color: lightseagreen;
}

.mapTile.BOX {
    background-color: tan;
}

.mapTile.BOT {
    background-color: red;
}

/* 3D Preview */
.preview {
    width: 50vw;
    height: 80vh;
    position: absolute;
    left: 0;
    bottom: 0;
}

.preview canvas {
    width: 100%;
    height: 100%;
}

.controls {
    width: 50vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Inputs */
input {
    margin-right: 10px;
}

input[type="text"] {
    width: 60%;
}

/* Orders */
.order-container {
    position: absolute;
    height: 20vh;
    width: 50vw;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    overflow: scroll;
}

.order {
    position: relative;
    display: flex;
    flex-direction: column;
    font: x-small;
    justify-content: center;
    background-color: rgb(255, 111, 135);
    padding: 10px;
    margin: 10px;
}

.order span {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 111, 135);
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: large;
    background: none;
}