* {
    background-color: black;
    color: white;
}

.layout {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.layout-top {
    position: absolute;
    top: 0;
    height: 25%;
    width: 100%;
    background-color: transparent;
    z-index: 10;
}

.layout-center {
    background-color: transparent;
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.layout-center .canvas-controls-container {
    width: 50%;
    height: 100%;
    position: relative;
    background-color: transparent;
}

.layout-center canvas {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
}

.layout-bottom {
    position: absolute;
    top: 80%;
    height: 20%;
    width: 100%;
}

.loading {
    height: 100vh;
    width: 100vw;
    background: url("../../assets/images/Scroll-Bg.png");
    background-repeat: repeat;
    animation: scroll 12s linear infinite backwards;
}

.loading h1 {
    color: black;
}

@keyframes scroll {
    0% {
        background-position: 50% 0;
    }

    100% {
        background-position: 50% 1200px;
    }
}

/* Credit Page */

.credit-screen {
    background-color: rgba(0,0,0,0.9);
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: 20;
}

.credit-screen-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: top;
    margin: 50px;
}

.credit-screen h1 {
    font-size: xx-large;
}

.credit-screen .toggle-credit-screen {
    position: absolute;
    font-size: 15px;
    padding: 5px;
    top: 15px;
    right: 20px;
}