* {
    background-color: black;
    color: white;
}

.layout {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.layout-top {
    position: absolute;
    top: 0;
    height: 25%;
    width: 100%;
    background-color: transparent;
    z-index: 10;
}

.layout-center {
    background-color: transparent;
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.layout-center canvas {
    width: 50%;
    height: 100%;
    background-color: black;
    pointer-events: none;
}

.layout-bottom {
    position: absolute;
    top: 80%;
    height: 20%;
    width: 100%;
}

.loading {
    height: 100vh;
    width: 100vw;
    background-color: black;
}